img{
    max-width:30px;
}

.user-selected {
    background-color: #e6f5e2;
}

.table-condensed>tbody>tr>td {
    height: 40px;
    line-height: 30px;
}

.table-condensed>tbody>tr:nth-child(2n+1):hover {
    background-color: #e6f5e2;
    cursor: pointer;
}

.links a {
    display: block;
}

.btn {
    margin-bottom: 40px;
}